# Ignore venv
venv/

# Temporary files in Python 
__pycache__/
*.pyc 

# Logs 
*.logs 

# Jupyter notebook checkpoints 
.ipynb_checkpoints/

# Creating a new venv 
python3 -m venv venv
source venv/bin/activate
pip install nazwa_pakietu

# Open a virtual without pip
python3 -m venv --without-pip venv
source venv/bin/activate
curl -sS https://bootstrap.pypa.io/get-pip.py | python
pip install pyside6
